@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>OneGini ASP.NET Core oAuth example</h1>
    <p>This application is used to demonstrate to developers how to implement the OneGini oAuth 2.0 protocol. blabla.</p>
</div>