@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Onegini ASP.NET Core oAuth example</h1>
    <p>This application is used to demonstrate to developers how to implement the Onegini OAuth 2.0 protocol. See the readme for more detailed information.</p>
</div>